%p#notice= notice

%span{'data-url'=>events_timetable_path(@timetable), :id => 'events'}

:javascript
  console.log($("#events").attr("data-url"));
  $.getJSON($("#events").attr("data-url"), 
    function (data) {
      $(data).each(function(i, event){
        starts_hour = event.starts_hour
        day = event.day
        id = "#"+day+"_"+starts_hour
        $(id).append(event.name+"<br />")
      });
   });
      
%table
  %tbody
    %tr
      %th
      - days.each do |day|
        %th #{day}
    - (8..18).each do |hour|
      %tr{:style=> (hour.odd? ? "background-color:#DDD" : "")}
        %td #{num_to_12_hr(hour)}
        - days.each_with_index do |day, i|
          %td{:id=>"#{day}_#{'%02d' % hour}", :style=> (i.odd? ? "background-color:rgba(0,0,0,0.1)" : "")}
            
            
  
= link_to 'Edit', edit_timetable_path(@timetable)
\|
= link_to 'Back', timetables_path
