<p id="notice"><%= notice %></p>

<h2><%= "#{@event.starts_at.strftime('%H:%M')}-#{@event.ends_at.strftime('%H:%M')} on #{@event.starts_at.strftime('%A')}s in #{@event.room}" %></h2>

<p>
  For <strong><%= link_to @event.stream.course.short_title, @event.stream.course %> &gt; <%= link_to @event.stream.crn, @event.stream %></strong>
</p>

<p>
  <b>Type:</b>
  <%= @event.type %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
