= form_for @enrollment do |f|
  -if @enrollment.errors.any?
    #error_explanation
      %h2= "#{pluralize(@enrollment.errors.count, "error")} prohibited this enrollment from being saved:"
      %ul
        - @enrollment.errors.full_messages.each do |msg|
          %li= msg
  .actions
    = f.submit 'Save'
