%h1 Listing enrollments

%table
  %tr
    %th Stream
    %th Timetable
    %th
    %th
    %th

  - @enrollments.each do |enrollment|
    %tr
      %td= enrollment.stream.crn
      %td= enrollment.timetable
      %td= link_to 'Show', enrollment
      %td= link_to 'Edit', edit_enrollment_path(enrollment)
      %td= link_to 'Destroy', enrollment, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Enrollment', new_enrollment_path
