<p id="notice"><%= notice %></p>

<h2><%= @course.short_title %></h2>

<ul>
  <% @course.streams.each do |stream| %>
    <li>
      <em>Stream <%= link_to stream.crn, stream %></em>
      <ul>
        <% stream.events.each do |event| %>
          <li><%= link_to "#{event.starts_at.strftime('%H:%M')}-#{event.ends_at.strftime('%H:%M')} on #{event.starts_at.strftime('%A')}s in #{event.room}", event %>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>


<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
