<p id="notice"><%= notice %></p>

<p>
  <b>Course:</b>
  <%= @course.course %>
</p>

<p>
  <b>Code:</b>
  <%= @course.code %>
</p>


<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
